* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3e3c42;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: #0095dd;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

a.button,
button {
  user-select: none;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  min-width: 150px;
  padding: 8px 4px;
  text-align: center;
}

a.button:hover,
button:hover {
  background-color: #0095dd;
  border: 1px solid #0095dd;
  color: white;
}

a.button {
  margin-bottom: 10px;
}

h1 {
  font-size: 20px;
}

.example-toggle-button {
  margin: 10px 0;
}

/* Layout */

.nav-container {
  position: fixed;
  top: 0;
  display: block;
  width: 275px;
  height: 100%;
  max-height: 100%;
  background: #f5f5f5;
}

.nav-content {
  padding: 60px 0 20px 0;
  overflow: auto;
  overflow: overlay;
  max-height: 100%;
  font-size: 14px;
}

.main {
  margin-left: 275px;
  width: calc(100% - 275px);
}

.main-content {
  padding: 30px;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #eee;
}
.page-title {
  margin: 0 0 20px;
}

/*** Header ***/

.main .header {
  box-shadow: 2px 2px 2px 0 rgba(161, 161, 161, 0.5);
}

.nav-container .header {
  position: fixed;
  width: 275px;
}

.header {
  background: white;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(161, 161, 161, 0.5);
  width: 100%;
  height: 50px;
  z-index: 1000;
}

.header .logo {
  box-sizing: unset;
  width: 90px;
  margin-top: 2px;
}

.header .title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  -moz-user-select: none;
  user-select: none;
}

/*** Nav ***/

.class-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.class-link-container.active {
  background-color: #ddd;
}

.class-link-container *:hover {
  background: #555;
  color: white;
}

.class-link {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.visible-class {
  margin: 0;
}

nav h3 {
  margin: 10px 0 10px 20px;
  font-size: 20px;
  font-variant: all-small-caps;
  color: #333;
}

/* Class name */
nav ul li {
  cursor: pointer;
}

nav ul li a {
  font-weight: 600;
  color: #3e3c42;
}

nav ul.methods {
  border-left: 3px solid #0095dd;
}

/* Method entries */
nav ul.methods li {
  height: 30px;
}

nav ul.methods li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #0095dd;
  font-weight: normal;
  padding-left: 40px;
  line-height: 1.5;
}

nav ul.methods li a:hover {
  background-color: #555;
  color: white;
}

/*** Main ***/

/* Method descriptions */

.methods {
  display: none;
}

.main h3 {
  font-size: 20px;
  margin: 20px 0 40px;
}

.type-signature {
  color: #666;
}

.description p {
  margin-bottom: 10px;
}

.description,
.return-description-block {
  margin: 15px 0;
}

.return-description-block {
  color: gray;
  font-size: 14px;
}

.return-description {
  color: #3e3c42;
}

.link-icon {
  position: absolute;
  margin-left: -20px;
  font-weight: bold;
}

.link-icon svg {
  width: 15px;
  height: 15px;
}

.name-container {
  display: block;
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: 300;
  font-family: Courier, monospace;
  line-height: 1;
}

h4.name {
  font-weight: bold;
  font-size: 18px;
}

.signature,
.type-signature {
  font-weight: lighter;
}

.signature-attributes {
  font-size: 60%;
  color: #5a5;
  font-style: italic;
  font-weight: 300;
  vertical-align: super;
  margin-left: 5px;
}

.block-param {
  padding-left: 30px;
}

/* Params table */

h5 {
  margin: 10px 0;
}

.params, .props {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
}

.params .name, .props .name, .name code {
  color: #4D4E53;
  font-family: Courier, monospace;
  font-size: 100%;
}

.params td, .params th, .props td, .props th {
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}

.params td {
  border-top: 1px solid #eee;
}

.params thead tr, .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params .params thead tr, .props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params td.description>p:first-child, .props td.description>p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description>p:last-child, .props td.description>p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

dl.param-type {
  margin-top: 5px;
}

.param-type dt, .param-type dd {
  display: inline-block
}

.param-type dd {
  font-family: Consolas, Monaco, 'Andale Mono', monospace
}

table {
  border-collapse: separate;
  display: block;
  overflow-x: auto;
}

table.params {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

table tbody td {
  border-top: 1px solid hsl(207, 10%, 86%);
  border-right: 1px solid #eee;
  padding: 5px;
  /*word-wrap: break-word;*/
}

table tbody td.last {
  border-right: none;
}

td table.params, td table.props {
  border: 0;
}

/* Details */

.details {
  margin: 20px 0 40px;
  font-size: 14px;
  text-align: right;
  background: #ffffff;
}

.details dt {
  display: inline-block;
}

.details dd {
  display: inline-block;
  margin: 0;
}

.details dd a {
  font-style: italic;
  font-weight: normal;
  line-height: 1;
}

.details ul {
  margin: 0;
}

/* See */
.see-description {
  font-size: 14px;
}

.see-description dt {
  color: #666;
}

.see-description dd {
  margin: 5px 0 0 20px;
  font-style: italic;
}

/* Examples */

.example-container {
  display: none;
  margin: 10px 0;
  max-width: 100%;
  overflow-x: auto;
}

/* Source code */

.source-container,
.example-container pre {
  padding: 15px 30px 15px 45px;
  font-size: 14px;
  background: #e5e5e5;
  border: 1px solid lightgray;
  overflow: hidden;
  max-width: 70vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.example-container pre {
  padding: 15px;
  margin-bottom: 10px;
}

pre.source {
  margin: 0 20px;
}
