!.keep

.idea/
**.ignore.js
**.ignore.json
**.ignore.sh
**.ignore.txt
**.DS_STORE

deploy-docs.sh

node_modules/

test/bundle-analysis

dist/

ElvClient-min-dev.js*
ElvClient-node-min-dev.js*

TestResults.json
