html {
  display: flex;
  justify-content: center;
}

body {
  color: #3e3c42;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  max-width: 1000px;
  padding: 3% 5% 10%;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 1.7rem;
  margin: 0;
}

h1 + p {
  margin: 0.5rem 0;
}

h2 {
  font-weight: 500;
  margin-top: 3rem;
}

h3 {
  font-weight: 500;
  margin-top: 1.5rem;
}

code,
pre {
  font-size: 14px;
  background: #e5e5e5;
  border: 1px solid lightgray;
  overflow: hidden;
  max-width: 70vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  padding: 1rem;
}

code {
  padding: 0 0.5rem;
}

pre code {
  border: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}
